*{
    margin: 0px;
    padding: 10px 20px;
}
.box{
    display: grid;
    gap: 10px;
     height:750px;
    width:500px;

}
.main{
    display: flex;
}

.first{
    height:300px;
    width: 400px;
    background-color:orange;
}
.second{
     height:300px;
    width: 400px;
    background-color: blueviolet;
}
.third{
     height:680px;
    width: 500px;
    background-color: yellow;
 
}
