* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.signupcontainer {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #0e0e0e;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.15);
}
@media (max-width:600px){
  .signupcontainer{
     max-width:900px;
  
  }
}

.signupcontainer h1 {
  text-align: center;
  color: #f5deb3;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}

.inputbox {
  margin-bottom: 15px;
}

.inputbox label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ddd;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 5px;
  color: white;
}

.inputbox input:focus {
  outline: none;
  border-color: #f5deb3;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #f5deb3;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e0c89f;
}

.logintext {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #f5deb3;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
