* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  /* height: 60px; */
  width: auto;
  background-color: black;
  padding: 10px;
}

.main {
  /* background-color: beige; */
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  border-bottom: 0.1px solid white;
}
@media (max-width:600px){
    .main .link{
display: none;
    }
    /* .main .logo{
        height: 30px;
        width: 50px;
    } */
    
}
.logo {
  
  color: #ffffff;
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-left:300px; */
  justify-content: end;
  /* background-color: aquamarine; */

}
.link a {
  /* border: 1px solid black; */
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;

}
.link a:hover{
    color: goldenrod;
    /* border-bottom: 1px solid white; */
}

 .button a{
  color:black;
  border-radius: 10px;
  background-color: #ffffff;

  
}
.button:hover{
    color: goldenrod;
}

.image {
  position: fixed;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
  background-color: black;
  padding: 10px;
  background-color: aqua;
}
@media (max-width:600px){
.landingtext h1{
  font-size: 50px;
}
  
}
.imagebox {
  height: 600px;
  background-color:violet;
  width: 500px;
  margin-bottom: 100px;
  background-image: url(landing.jpg);
}
.imagebox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}
.landingtext {
  height: 400px;
  width: 600px;
  /* background-color: antiquewhite; */
  margin-left: 200px;
  margin-top: 70px;
}
.landingtext h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: bisque;
}
.landingtext p {
  font-size: 20px;
  color: goldenrod;
}

.landingtext button {
  height: 60px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 30px;
  margin-left: 100px;
  border-radius: 10px;
  color: purple;
  background-color: beige;
}
.about {
  width: 100%;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}
.about h1 {
  color: goldenrod;
  font-size: 50px;
  text-align: center;
}

.first {
  /* background-color: blue; */
  height: 210px;
  width: 1400px;
  display: flex;
  gap: 30px;
  /* border: 0.1px solid wheat; */
}
.one:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.twoo:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.three:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.second {
  /* background-color: lightpink; */
  height: 210px;
  width: 1400px;
  display: flex;
  gap: 250px;
}
.third {
  /* background-color: coral; */
  height: 210px;
  width: 1400px;
  display: flex;
  gap: 30px;
}
.one {
  height: 210px;
  /* background-color:purple; */
  width: 30%;
  background-image: url(shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.onetext {
  height: 210px;
  /* background-color:blueviolet; */
  width: 50%;
}
.onetext p {
  margin-top: 40px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
}

.onetext h2 {
  color: lightslategrey;
  text-align: center;
}

.twoo {
  height: 210px;
  /* background-color:yellow; */
  width: 30%;
  background-image: url(vision.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.twotext {
  height: 210px;
  /* background-color:blueviolet; */
  width: 50%;
}
.twotext p {
  margin-top: 40px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
}
.twotext h2 {
  color: lightslategrey;
  text-align: center;
}

.three {
  height: 210px;
  /* background-color:purple; */
  width: 30%;
  background-image: url(misiion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.threetext {
  height: 210px;
  /* background-color:blueviolet; */
  width: 50%;
}
.threetext p {
  margin-top: 40px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: grey;
}
.threetext h2 {
  color: lightslategrey;
  text-align: center;
}

.servicesec {
  background: #f5f5f5;
  color: black;
  padding: 80px 4%;
  text-align: center;
  box-sizing: border-box;
}

.servicesec h2 {
  font-size: 38px;
  color: black;
  margin: 15px 15px 8px;
}

.servicesec p {
  color: #555;
  margin-bottom: 50px;
}

.servicebox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-card {
  background: black;
  color: white;
  border-radius: 14px;
  overflow: hidden;
  transition: 0.3s ease;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-card h3 {
  color: #f5deb3;
  margin: 15px 0 8px;
}

.service-card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #ddd;
}

/* .service-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
} */
