* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  /* height: 60px; */
  width: auto;
  background-color: black;
  padding: 10px;
}

.main {
  /* background-color: beige; */
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  border-bottom: 0.1px solid white;
}
@media (max-width: 600px) {
  .main .link {
    display:none;
  }
}
.logo {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-left:300px; */
  justify-content: flex-end;
  /* background-color: aquamarine; */
}
.link a {
  /* border: 1px solid black; */
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.link a:hover {
  color: goldenrod;
  /* border-bottom: 1px solid white; */
}

.button a {
  color: black;
  border-radius: 10px;
  background-color: #ffffff;
}
.button:hover {
  color: goldenrod;
}


.signupcontainer{
display: none;
}

.landing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 20px;
  background-color: black;
  gap: 40px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .landing {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

.imagebox {
  flex: 1;
  max-width: 500px;
  height: 85vh;
  background-image: url(landing.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .imagebox {
    height: 400px;
    max-width: 100%;
  }
  .landingtext h1 {
    font-size: 30px !important;
  }
  .landingtext p {
    font-size: 15px !important;
  }
  .landingtext button {
    width: 110px !important;
    height: 50px !important;
    font-size: 14px !important;
  }
  
}

.landingtext {
  flex: 1;
  max-width: 600px;
  margin: 0;
}
.landingtext h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: bisque;
}
.landingtext p {
  font-size: 20px;
  color: goldenrod;
}

.landingtext button {
  height: 60px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  color: purple;
  background-color: beige;
  

}

.servicesec {
  background: #f5f5f5;
  color: black;
  padding: 80px 4%;
  text-align: center;
  box-sizing: border-box;
} */

.servicesec h2 {
  font-size: 38px;
  color: black;
  margin: 15px 15px 8px;
}

.servicesec p {
  color: #555;
  margin-bottom: 50px;
}

.servicebox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media(max-width:600px){
  .servicebox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-card {
  background: black;
  color: white;
  border-radius: 14px;
  overflow: hidden;
  transition: 0.3s ease;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-card h3 {
  color: #f5deb3;
  margin: 15px 0 8px;
}

.service-card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #ddd;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.about {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
 
}


.about h1 {
  color: #d4af37;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}


.first,
.second,
.third {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 18px 25px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
}


.one,
.twoo,
.three {
  flex: 1;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.one {
  background-image: url(shop.jpg);
}

.twoo {
  background-image: url(vision.avif);
}

.three {
  background-image: url(misiion.jpg);
}


.onetext,
.twotext,
.threetext {
  flex: 2;
}

.onetext h2,
.twotext h2,
.threetext h2 {
  color: #bfbfbf;
  font-size: 20px;
  margin-bottom: 6px;
}

.onetext p,
.twotext p,
.threetext p {
  color: #9e9e9e;
  font-size: 15px;
  line-height: 1.5;
}




.signupcontainer {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #0e0e0e;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.15);
  display: flex;
  flex-direction: column;
}
@media (max-width:600px){
  .signupcontainer{
     max-width:900px;
  
  }
}

.signupcontainer h1 {
  text-align: center;
  color: #f5deb3;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}

.inputbox {
  margin-bottom: 15px;
}

.inputbox label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ddd;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 5px;
  color: white;
}

.inputbox input:focus {
  outline: none;
  border-color: #f5deb3;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #f5deb3;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e0c89f;
}

.logintext {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.logintext a {
  color: #f5deb3;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
.popup{
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}





.login-container {
  width: 380px;
  padding: 30px;
  background: #0e0e0e;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.15);
}

.login-container h1 {
  text-align: center;
  color: #f5deb3;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}

.inputbox {
  margin-bottom: 15px;
}

.inputbox label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ddd;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 5px;
  color: white;
}

.inputbox input:focus {
  outline: none;
  border-color: #f5deb3;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;

}
.remember{
  color: white;
}
.options a {
  color: #f5deb3;
  text-decoration: none;
}



.options a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 12px;
  background: #f5deb3;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e0c89f;
}

.signuptext {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.signuptext a {
  color: #f5deb3;
  text-decoration: none;
}

.signuptext a:hover {
  text-decoration: underline;
}
